.body{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    
    .description{
        max-width: 700px;
        text-align: justify;
    }
    .social{
        justify-self: flex-end;
    }

    @media(max-width:1024px){
        grid-template-columns: 1fr;

        .description{
            justify-self: center;
        }
        .social{
            justify-self: center;
        }
    }
}