
.body{
    padding: 8px 12px;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: 0.3s ease all;

    .text{
        font-size: 0.95rem;
    }

    .img{

        >img{
            width: 25px;
            height: 25px;
        }
    }

    &:active{
        background-color: rgba(255, 255, 255, 0.068);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
        background-color: rgba(255, 255, 255, 0.13);
        }
    }
}