.body{
    

    .container{
        display: flex;
        align-items: center;
        

        gap: 10px;


        .text{
            font-size: 16px;
        }
        .img{
            
            .avatar{
                height: 40px;
                width: 40px;
            }
        }


        @media(max-width:1024px){
 
            .text{
                font-size: 14px;
            }
        }

        @media(max-width:768px){
            .text{
                font-size: 14px;
            }
        }
    }
}